.cryptoCard { 
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 8px;
    width: 170px;
    padding: 8px 8px 8px 8px;
}

.symbol {
    margin-top: 8px;
    font-size: 16px;
}

.price {
    font-size: 20px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
    white-space: nowrap;
    overflow: hidden;
}

button {
    margin-right: 5px
}

.cryptoDataHalf {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    box-sizing: border-box;
}

.cryptoTransactionHalf {
    right:0; 
    bottom: 0;
    position:absolute;
}