.details{
    margin-left: 8px
}

.btn-selection {
    margin-left: 5px;
    margin-right: 5px;
}

.transaction-status-active{
    color: rgb(1, 189, 1);
    font-weight: 700;
}

.transaction-status-finished{
    color:blue;
    font-weight: 700;
}
.transaction-status-cancelled{
    color: rgb(173, 13, 13);
    font-weight: 700;
}

.transaction-card {
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}